@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

html{
    /*font-family: 'Times New Roman', Times, serif;*/
    font-family: 'Silkscreen', cursive;
    font-size: larger;
    font-weight: 400; 
    /*font-style: italic;    cursiva*/ 
}