body {
    display: flex;
    justify-content: space-around;
}
.left-side {
    background-color: cadetblue;
}
@media (min-width:640px){
    body {
        display: grid;
        flex-direction: row;
    }
}