@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

html {
    font-family: 'Silkscreen', cursive;
}

#elemento-1 {
    color: red;
}
ul li#elemento-1 {
    font-size: 2rem;
    color: rgb(81, 255, 0);
}